# Ignore everything

*.DS_Store
*.git
*.gitmodules

_source
node_modules/
error_log
.sass-cache

# /*.*

# deploy/
# dist/
# dev/
# tests/

# wp-admin/
# wp-includes/
wp-content/*.*
wp-content/*/*.*
wp-content/*/*/


# Exceptions from the rules above
# !.gitignore
# !.eslintrc
# !gulpfile.js
# !gulpconfig.js
# !package.json
# !README.md
!wp-content/db.php
!wp-content/themes/index.php
!wp-content/themes/base-theme/
!wp-content/themes/child-theme/
!wp-content/plugins/index.php
!wp-content/plugins/base-plugin/