# Ignore everything

*.DS_Store
*.git
*.gitmodules

_source
node_modules/
error_log
.sass-cache

wp-config.php
wp-content/uploads/*/

# Include uploads .htaccess file for security
!wp-content/uploads/.htaccess

wp-content/plugins/*/
wp-content/themes/*/


# You probably don't want to include the
# templates directory in production. Comment this
# out once you have created your new repository.

# templates/